asgiref==3.6.0
autopep8==2.0.1
CacheControl==0.12.11
contourpy==1.0.7
cycler==0.11.0
dj-database-url==1.2.0
Django==4.2
django-ckeditor==6.5.1
django-filter==22.1
django-js-asset==2.0.0
django-social-share==2.3.0
djangorestframework==3.14.0
fonttools==4.38.0
kiwisolver==1.4.4
Markdown==3.4.1
matplotlib==3.7.0
msgpack==1.0.4
numpy==1.24.2
pandas==1.5.3
psycopg2-binary==2.9.5
pycodestyle==2.10.0
python-decouple==3.7
pytz==2020.4
sqlparse==0.4.1
tinycss2==1.1.1
tomli==2.0.1
whitenoise==5.2.0
gunicorn
django-cors-headers
