{% extends 'base.html' %}
{% load static %}

{% block title %}

	<title>{{object.title}} | Chronicles of Gaurav Sapkota</title>

{% endblock title %}
{% block metas %}
<meta property="og:title" content="{{object.title}}"/>
	<meta property="og:type" content="article"/>
	<meta property="og:description" content="{{object.description}}"/>
	<meta property="og:image" content="{{object.cover}}"/>
	 <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@iamgvs906">
    <meta name="twitter:creator" content="@iamgvs906">
    <meta name="twitter:title" content="{{object.title}}">
    <meta name="twitter:description" content="{{object.description}}">
    <meta name="twitter:image" content="{{object.cover}}">
{% endblock metas %}


	<!-- preloader -->
    <div id="loader-wrapper">
		<div class="loader-img"><img src="images/logo-2.png" alt="preloader"></div>
		<div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
	</div>
{% block search %}
<div id="fb-root"></div>
	<div class="section search-section">
		<a href="#" class="close-search"><img src="{% static 'blogs/close.png' %}" alt="close"></a>
		<div class="centered">
			<form action="{% url 'search' %}" method="GET">
				<input type="text" name="q" placeholder="Search here..">
				<button type="submit">Search</button>
			</form>
		</div>
	</div>

{% endblock search%}

 
{% block header %}

	<section class="header-wrapper style-two bottom-border">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-12 text-left">
					<a href="index.html" class="logo"><img src="{% static 'blogs/logo.png' %}" alt="logo"></a>
					<a href="#" class="menu-click"><span></span><span></span><span></span></a>
				</div>
				<div class="col-lg-8 col-md-12">
					<nav id="main-menu" class="text-center">
						<ul>
							<li class="has-submenu"><a href="{% url 'home' %}">Home</a>
								
							</li>
							<li class="has-submenu"><a href="javascript:void(0)" style="cursor:default;">Category</a><span class="submenu-toggle"></span>
								<ul class="level-two">
									
							{% for cat in cats %}
							<li><a href="{% url 'categories' cat %}">{{cat}}</a></li>
							
							{% endfor %}									
								</ul>
							</li>
							<li class="has-submenu"><a href="javascript:void(0)" style="cursor:default;">Year</a><span class="submenu-toggle"></span>
								<ul class="level-two">
									
									{% for year in years %}
								<li><a href="{% url 'year' year %}">{{ year}}</a></li>
							
									{% endfor %}									
								</ul>
							</li>
							<li><a href="{% url 'gallery' %}">Gallery</a></li>
							<li><a href="{% url 'contact' %}">Contact</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-lg-2 col-md-4 text-right">
					<a href="#" class="search-icon"><img src="{% static 'blogs/search.png' %}" alt="search-icon"></a>
				</div>
			</div>
		</div>
	</section>
	 {% endblock header %}
	 {% block container %}
	 
	 
	
	<section class="single-post pad-50">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-12 overlay-image">	
					<div class="entry-media mt-0">
						<img src="{{object.cover}}" alt="post-image">
					</div>
					<div class="entry-header text-center">
						<h4 class="entry-meta style2">{{object.author}} <span>{% if comments %} {{comments|length}}{% else %}No{% endif %}</span> Comments</h4>
						<h1 class="entry-title">{{object.title}}</h1>
						<h5>{{object.description}}</h5>
					</div>
				</div>
				<div class="col-lg-8 offset-lg-2 ">
					<div class="entry-content">
						{{object.blog|safe}}
					<div class="entry-share-div">
						<h5>Share :</h5>
						<ul class="social-text light list-inline">

							<li class="list-inline-item"><a class="text-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}" target="_blank">facebook</a></li>
							<li class="list-inline-item"><a class="text-twitter" href="http://twitter.com/share?text={{post.title}}&url={{request.build_absolute_uri}}">Twitter</a></li>
						</ul>
					</div>
				
				</div>

				<div>
					{% for comm in comments %}
					
					<b>{{comm.author}}</b>-
					{{comm.comment |safe}}
					<hr>
					
					
					{% endfor %}



				</div>

				<div>
					<form method=post>
						{% csrf_token %}
						
						{% if user.is_authenticated %}
						Commenting as <b>{{user.get_full_name}}</b><br>
						{% for f in form %}
						
						{% if f.label != "Author" %}
						{{f.label}}:
						{{f}}
						{% endif %}
						
						{% endfor %}
						{% else %}
						{{form.as_p}}
						


						{% endif %}
						{{form.media}}
						<input type=submit value="post"></input>
					</form>
				</div



			</div>
		</div>
	</section>
	{% endblock container %}

{% block footer %}
<section class="footer-wrapper pad-75 bg-lightblue">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-4 widget">
					<span class="widget-title2">Category</span>
					<ul class="widget-link">
					{% for category in cats %}
					<li><a href="{% url 'categories' category%}">{{ category.category.upper }}</a></li>
					{% endfor %}
						
						
					</ul>
				</div>
				<div class="col-lg-2 col-md-4 widget">
					<span class="widget-title2">Links</span>
					<ul class="widget-link">
						<li><a href="{% url 'gallery' %}">Gallery</a></li>
						<li><a href="{% url 'contact' %}">Contact</a></li>
						
					</ul>
				</div>
				<div class="col-lg-2 col-md-4 widget">
					<span class="widget-title2">Recents</span>
					<ul class="widget-link">
						{% for post in posts|slice:"0:5" %}
						<li><a href="{% url 'post_detail' post.slug%}">{{post.title|slice:"0:17"}}...</a></li>
						{% endfor %}
						
						
					</ul>
				</div>
				
			</div>
		</div>
	</section>
{% endblock footer %}