{% extends 'base.html' %}


{% load static %}
{% block title %}
<title>Gallery</title>
<link rel='stylesheet' href='{% static 'gallery/css/photoswipe.css' %}'>
<link rel='stylesheet' href='{% static 'gallery/css/default-skin.css' %}'>
{% endblock title %}
{% block metas %}
<meta property="og:title" content="Chronicles Of Gaurav Sapkota"/>
	<meta property="og:type" content="website"/>
	<meta property="og:description" content="Photos of Gaurav Sapkota."/>
	<meta property="og:image" content="https://i.imgur.com/xXcc7rkh.jpg"/>
	 <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@iamgvs906">
    <meta name="twitter:creator" content="@iamgvs906">
    <meta name="twitter:title" content="Chronicles Of Gaurav Sapkota">
    <meta name="twitter:description" content="Photos Gaurav Sapkota.">
    <meta name="twitter:image" content="https://i.imgur.com/xXcc7rkh.jpg">
{% endblock metas %}

{% block container %}
<style>
.my-gallery {
  width: 100%;
  float: left;
}
.my-gallery img {
  width: 100%;
  height: auto;
}
.my-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}
.my-gallery figcaption {
  display: none;
}
</style>

<h2 style="float:center">{{year}}</h2>

  <div class="my-gallery container" itemscope itemtype="http://schema.org/ImageGallery">
{% for image in queryset %}
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="{{image.image_url}}" itemprop="contentUrl" data-size="{{image.image_dimenX}}x{{image.image_dimenY}}">
          <div class="card" style="width: 18rem;">
          <img src="{{image.image_thumbnail}}" itemprop="thumbnail" alt="{{image.created_on}}" />

  <div class="card-body">
  <p class="card-text"><small class="text-muted"> {{image.created_on|date:"Y M d"}} </small></p>
  <h5 class="card-title">{{image.image_name}}</h5>
    <p class="card-text">{{image.image_des}}</p>
  </div>
</div>
      </a>
                                          <figcaption itemprop="caption description">{{image.image_name}}</figcaption>
                                          <figcaption itemprop="caption">{{image.image_des}}</figcaption>
                                          
    </figure>
{% endfor %}

  </div>

  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element, as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

          </div>

        </div>

</div>
{% endblock container %}
{% block footer %}
 <script src="{% static 'gallery/js/photoswipe-ui-default.min.js' %}"></script>
    <script src="{% static 'gallery/js/photoswipe.min.js' %}"></script>
<script src="{% static 'gallery/js/gallery.js' %}"></script>
{% endblock footer %}

 